
<body id="admin_panel">
	<div id="pp_editor">

			<div class="pp-editor-toolbar-group">
				<button class="button empty nonpermanent" id="newfile">&nbsp;</button><button class="button empty nonpermanent" data-title="save" id="save">&nbsp;</button><button class="button empty nonpermanent" data-title="deletefile" id="deletefile">&nbsp;</button><button class="button empty nonpermanent" data-title="cancel" id="cancel">&nbsp;</button>
			</div>
			
			<div class="pp-editor-toolbar-group">
				<button class="button nonpermanent" data-title="undo" id="undo" onclick="document.execCommand('undo',false,null);" >&#8630;</button><button class="button nonpermanent" data-title="redo" id="redo" onclick="document.execCommand('redo',false,null);" >&#8631;</button>
			</div>
			
			
			<div class="pp-editor-toolbar-group">
				<button class="button nonpermanent" data-title="removeformat" id="removeformat"  onclick="document.execCommand('removeformat',false,null);">A<span>x</span></button>
			</div>
	
			<div class="pp-editor-toolbar-group">
				<select class="button" id="fontname">
				  <option value="Arial">Arial</option>
				  <option value="Courier">Courier</option>
				  <option value="Georgia" selected="selected">Georgia</option>
				</select><select class="button" id="fontsize">
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3" selected="selected">3</option>
				  <option value="4">4</option>
				  <option value="5">5</option>
				  <option value="6">6</option>
				  <option value="7">7</option>
				</select></div>
			<div class="pp-editor-toolbar-group">
				<input class="button" type="color" name="forecolor" id="forecolor"><input class="button" type="color" name="backcolor" id="backcolor">
			</div>			
			
			
			<div class="pp-editor-toolbar-group">
				<select class="button" id="formatblock">
					<option value="na">N/A</option>
					<option value="h1">Heading 1</option>
					<option value="h2">Heading 2</option>
					<option value="h3">Heading 3</option>
					<option value="h4">Heading 4</option>
					<option value="h5">Heading 5</option>
					<option value="h6">Heading 6</option>
					<option value="p">Paragraph</option>
					<option value="div">Div</option>
					<option value="pre">Code</option>
					<option value="address">Address</option>
				</select>
			</div>
			
			<div class="pp-editor-toolbar-group">
				<button class="button" data-title="bold" id="bold" value="B" onclick="document.execCommand('bold',false,null);">B</button><button class="button" data-title="italic" id="italic" value="I" onclick="document.execCommand('italic',false,null);">I</button><button class="button" data-title="underline" id="underline" value="U" onclick="document.execCommand('underline',false,null);">U</button><button class="button" data-title="strikethrough" id="strikethrough" value="S" onclick="document.execCommand('strikethrough',false,null);">S</button>
			</div>
			
			<div class="pp-editor-toolbar-group subsup">
				<button class="button sub" data-title="subscript" id="subscript" onclick="document.execCommand('subscript',false,null);"><span>a<sub>2</sub><sup></sup></span></button><button class="button sup" data-title="superscript" id="superscript" value="sup" onclick="document.execCommand('superscript',false,null);"><span>a<sup>2</sup><sub></sub></span></button>
			</div>
			
			<div class="pp-editor-toolbar-group justify">
				<button class="button empty" data-title="justifyleft" id="justifyleft" onclick="document.execCommand('justifyleft',false,null);">&nbsp;</button><button class="button empty" data-title="justifycenter" id="justifycenter" onclick="document.execCommand('justifycenter',false,null);">&nbsp;</button><button class="button empty" data-title="justifyright" id="justifyright" onclick="document.execCommand('justifyright',false,null);">&nbsp;</button><button class="button empty" data-title="justifyfull" id="justifyfull" onclick="document.execCommand('justifyfull',false,null);">&nbsp;</button>
			</div>
			
			<div class="pp-editor-toolbar-group">
				<button class="button empty nonpermanent" data-title="indent" id="indent" onclick="document.execCommand('indent',false,null);">&nbsp;</button><button class="button empty nonpermanent" data-title="outdent" id="outdent" onclick="document.execCommand('outdent',false,null);">&nbsp;</button>
			</div>
			
			<div class="pp-editor-toolbar-group">
				<button class="button empty" data-title="insertorderedlist" id="insertorderedlist" onclick="document.execCommand('insertorderedlist',false,null);" >&nbsp;</button><button class="button empty" data-title="insertunorderedlist" id="insertunorderedlist" onclick="document.execCommand('insertunorderedlist',false,null);">&nbsp;</button>
			</div>
			
			<div class="pp-editor-toolbar-group">
				<button class="button empty nonpermanent" data-title="inserthorizontalruler" id="inserthorizontalruler" onclick="document.execCommand('inserthtml',false,'<hr>');">&nbsp;</button><button class="button empty" data-title="blockquote" id="blockquote" onclick="document.execCommand('formatblock',false,'blockquote');">&nbsp;</button>
			</div>
			
			<div class="pp-editor-toolbar-group">
				<button class="button empty nonpermanent" data-title="createlink" id="createlink">&nbsp;</button><button class="button empty nonpermanent" data-title="unlink" id="unlink" onclick="document.execCommand('unlink',false,null);">&nbsp;</button>
			</div>			
			
			<div class="pp-editor-toolbar-group">
				<button class="button nonpermanent" data-title="edithtml" id="edithtml">&lt;edit html&gt;</button><!-- <button class="button nonpermanent" data-title="inserthtml" id="inserthtml">&lt;insert html&gt;</button>-->
			</div>
			
			<div class="pp-editor-toolbar-group">
				<button class="button empty" data-title="insertimage" id="insertimage">&nbsp;</button><button class="button empty" data-title="imageleft" id="imageleft">&nbsp;</button><button class="button empty" data-title="imagenone" id="imagenone">&nbsp;</button><button class="button empty" data-title="imageright" id="imageright">&nbsp;</button>
			</div>
	</div>
