.p_editor #admin-panel a#switch_editor {
    font-weight: bold;
    cursor: pointer;
    background: #1982D1 !important;
    box-shadow: none !important;
    color: #fff;
}
#pp_editor {
    position: relative;
    top: -1px;
    z-index: 100;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    width: 100%;
    padding: .5rem 0 .5rem 0;
    margin: 0px !important;
    line-height: 2.5rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
      -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#pp_editor div {
    display: inline;
}
#pp_editor .pp-editor-toolbar-group {
    font-size: .9rem;
    margin-left: .3rem;
    display: inline-block;
}
#pp_editor .pp-editor-toolbar-group select {
    font-size: 86%;
    padding: 7px 11px 6px 11px !important; 
}
#pp_editor .pp-editor-toolbar-group .button {
    height: 36px;
    min-width: 36px;
    color: rgba(0, 0, 0, 0.7);
    outline: none;
    margin: 0 0 .6em 0;
    padding: 7px 11px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    text-align: center;
    background: #ffffff;
    background: linear-gradient(to bottom, white 0%, #ebebeb 78%);
    box-shadow: inset 0px -1px 1px #fff, inset 1px 0px 1px #fff, inset -1px 0px 1px #fff; 
}
#pp_editor .pp-editor-toolbar-group .button:hover {
    cursor: pointer;
    box-shadow: none;
    background: #e6e6e6;
}
#pp_editor .pp-editor-toolbar-group button:active:not(select) {
    position: relative;
    top: 1px;
}
#pp_editor .pp-editor-toolbar-group .button:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#pp_editor .pp-editor-toolbar-group .button:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#pp_editor .pp-editor-toolbar-group .button:not(:first-of-type) {
    margin-left: -1px; 
}
input#forecolor, input#backcolor {
    position: relative;
    top: 5px;
    height: 30px !important;
    padding: 2px 5px !important;
    margin: 0 !important;
}
input#backcolor {
    margin-left: -1px !important; 
}
@-moz-document url-prefix() {
    .subsup button {
        position: relative;
        top: 2px;
    }
    .subsup button span {
        position: relative;
        top: -3px;
    }
    button::-moz-focus-inner {
        border: 0;
    }
    input#forecolor, input#backcolor{
        position: relative;
        height: 36px !important;
        margin: 0 0 .6em 0 !important;
        padding: 7px 11px !important;
    }
}
#pp_editor #newfile {
    padding: 7px 16px;
    background: #ffffff;
    background: url("img/newfile.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #newfile:hover {
    background: url(img/newfile.png) no-repeat center, #e6e6e6;
    box-shadow: none;
}
#pp_editor #save {
    padding: 7px 16px;
    background: #ffffff;
    background: url("img/floppy.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #save:hover {
    background: url(img/floppy.png) no-repeat center, #e6e6e6;
    box-shadow: none;
}
#pp_editor #deletefile {
    padding: 7px 16px;
    background: #ffffff;
    background: url("img/trash.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #deletefile:hover {
    background: url(img/trash.png) no-repeat center, #e6e6e6;
    box-shadow: none;
}
#pp_editor #cancel {
    padding: 7px 16px;
    background: #ffffff;
    background: url("img/cancel.gif") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #cancel:hover {
    background: url(img/cancel.gif) no-repeat center, #e6e6e6;
    box-shadow: none;
}
#pp_editor #removeformat span {
    font-family: Arial, sans;
    position: relative;
    left: -1px;
    top: 3px;
    color: red;
    font-weight: bold;
}
#pp_editor #bold {
    font-weight: bold;
}
#pp_editor #italic {
    font-style: italic;
}
#pp_editor #underline {
    text-decoration: underline;
}
#pp_editor #strikethrough {
    text-decoration: line-through;
}
#pp_editor #justifyleft {
    padding: 7px 16px;
    background: #ffffff;
    background: url("img/text-align-left.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #justifyleft:hover {
    background: url(img/text-align-left.png) no-repeat center, #e6e6e6;
    box-shadow: none;
}
#pp_editor #justifyleft.is-current-state {
    background: url(img/text-align-left.png) no-repeat center, #1982d1;
}
#pp_editor #justifycenter {
    padding: 7px 16px;
    background: #ffffff;
    background: url("img/text-align-center.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #justifycenter:hover {
    background: url(img/text-align-center.png) no-repeat center, #e6e6e6;
    box-shadow: none;
}
#pp_editor #justifycenter.is-current-state {
    background: url(img/text-align-center.png) no-repeat center, #1982d1;
}
#pp_editor #justifyright {
    padding: 7px 16px;
    background: #ffffff;
    background: url("img/text-align-right.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #justifyright:hover {
    background: url(img/text-align-right.png) no-repeat center, #e6e6e6;
    box-shadow: none;
}
#pp_editor #justifyright.is-current-state {
    background: url(img/text-align-right.png) no-repeat center, #1982d1;
}
#pp_editor #justifyfull {
    padding: 7px 16px;
    background: #ffffff;
    background: url("img/text-align-justify.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #justifyfull:hover {
    background: url(img/text-align-justify.png) no-repeat center, #e6e6e6;
    box-shadow: none;
}
#pp_editor #justifyfull.is-current-state {
    background: url(img/text-align-justify.png) no-repeat center, #1982d1;
}
#pp_editor #indent {
    padding: 7px 16px;
    background: #ffffff;
    background: url("img/indent.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #indent:hover {
    background: url(img/indent.png) no-repeat center, #e6e6e6;
    box-shadow: none;
}
#pp_editor #outdent {
    padding: 7px 16px;
    background: #ffffff;
    background: url("img/outdent.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #outdent:hover {
    background: url(img/outdent.png) no-repeat center, #e6e6e6;
    box-shadow: none;
}
#pp_editor #insertorderedlist {
    padding: 7px 16px;
    background: #ffffff;
    background: url("img/list-ordered.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #insertorderedlist:hover {
    background: url(img/list-ordered.png) no-repeat center, #e6e6e6;
    box-shadow: none;
}
#pp_editor #insertorderedlist.is-current-state {
    background: url(img/list-ordered.png) no-repeat center, #1982d1;
}
#pp_editor #insertunorderedlist {
    padding: 7px 16px;
    background: #ffffff;
    background: url("img/list-unordered.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #insertunorderedlist:hover {
    background: url(img/list-unordered.png) no-repeat center, #e6e6e6;
    box-shadow: none;
}
#pp_editor #insertunorderedlist.is-current-state {
    background: url(img/list-unordered.png) no-repeat center, #1982d1;
}
#pp_editor #inserthorizontalruler {
    padding: 7px 16px;
    background: #ffffff;
    background: url("img/horizontal-ruler.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #inserthorizontalruler:hover {
    background: url(img/horizontal-ruler.png) no-repeat center, #e6e6e6;
    box-shadow: none;
}
#pp_editor #blockquote {
    padding: 7px 16px;
    margin-right: .3rem;
    background: #ffffff;
    background: url("img/quote.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #blockquote:hover {
    background: url(img/quote.png) no-repeat center, #e6e6e6;
    box-shadow: none;
}

#pp_editor #createlink {
    padding: 7px 16px;
    background: #ffffff;
    background: url("img/link.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #createlink:hover {
    background: url(img/link.png) no-repeat center, #e6e6e6;
    box-shadow: none;
}
#pp_editor #createlink.is-current-state {
    background: url(img/link.png) no-repeat center, #1982d1;
}
#pp_editor #unlink {
    padding: 7px 16px;
    margin-right: .3rem;
    background: #ffffff;
    background: url("img/unlink.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #unlink:hover {
    background: url(img/unlink.png) no-repeat center, #e6e6e6;
    box-shadow: none;
}
#pp_editor #insertimage {
    padding: 7px 16px;
    background: #ffffff;
    background: url("img/image.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #insertimage:hover {
    background: url(img/image.png) no-repeat center, #e6e6e6;
    box-shadow: none;
}
#pp_editor #imageleft {
    padding: 7px 16px;
    background: #ffffff;
    background: url("img/image-align-left.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #imageleft:hover {
    background: url(img/image-align-left.png) no-repeat center, #e6e6e6;
    box-shadow: none;
}
#pp_editor #imagenone {
    padding: 7px 16px;
    background: #ffffff;
    background: url("img/image-align-none.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #imagenone:hover {
    background: url(img/image-align-none.png) no-repeat center, #e6e6e6;
    box-shadow: none;
}
#pp_editor #imageright {
    padding: 7px 16px;
    background: #ffffff;
    background: url("img/image-align-right.png") no-repeat center, linear-gradient(to bottom, white 0%, #ebebeb 78%);
}
#pp_editor #imageright:hover {
    background: url(img/image-align-right.png) no-repeat center, #e6e6e6;
    box-shadow: none;
/*}*/